---
layout: default
permalink: work/
---
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
.box {
  border-bottom: 1px solid #efefef;
  padding-bottom: 24px;
  margin-bottom: 60px;
}

.media_img {
  margin-left: -80px;
}
</style>
</head>
<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div class="article-author-side">
  &nbsp;
</div>
<div id="index">
  
  {% for item in site.categories.work limit:1000 %}
    <div class="media box">
      <h1>{{item.title}}</h1>
      {% if item.image %} 
            <img class="media_img" src="/images/{{item.image}}" />
      {% endif %}
       <div class="media_body">
        <p>{{item.content}}</p>
      </div>
    </div>
  {% endfor %}

</div>
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>