<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Work</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700|Source+Serif+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  
  <div class="header">
    <div class="container">
      <p class="header-content">{{ page.intro }}</p>
    </div>
  </div>
  
  <div class="container">
    {{ content }}
    <p><a href="/work/">Back to Portfolio</a></p>
  </div>

  <div class="footer">
  </div>

</body>
</html>